<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e0e234ce-2c87-4c1a-b7ff-bbce10f21c63" Version="1.0.0.0" Publisher="CN=ali.sufiyan" />
  <Properties>
    <DisplayName>SonicRunner</DisplayName>
    <Description>Sonic has to run in dark world of teragon.</Description>
    <PublisherDisplayName>Ramez</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="SonicRunner" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="Sonic has to run in dark world of teragon." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>